<template>
  <div id="fail-page-container">
    <FailDesign key="fail-design" :fail='fail'>
    </FailDesign>
  </div>
</template>

<script>
import FailDesign from "@/components/failDesign.vue";
import { failFields } from "@/common/response.temp";
import { fails } from "@/common/examples";
import { mapGetters } from "vuex";

export default {
  name: "failsView",
  components: {
    FailDesign
  },
  data() {
    return {
      fields: failFields,
      fails: fails,
      fail: {},
      id: ""
    };
  },
  computed: {
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  mounted() {
    this.checkAuth();
  },
  methods: {
    checkAuth() {
      if (this.isAuthenticated) {
        if (this.currentUser.id == this.getFailById()[this.fields.AUTHORID]) {
          return;
        }
      }
      this.$router
        .push({
          name: "fail",
          params: { id: this.$route.params.id }
        })
        .catch(() => {});
    },
    getFailById() {
      if (this.$route.params.id == undefined) {
        this.$store.push({ name: "home" });
      } else {
        this.id = this.$route.params.id;

        for (let i in this.fails) {
          if (this.fails[i][this.fields.ID] == this.id) {
            this.fail = this.fails[i];
            return this.fail;
          }
        }
      }
    }
  },
  watch: {
    "$route.params.id": function(val) {
      this.checkAuth();
    }
  }
};
</script>

<style>
#fail-page-container {
  font-size: 25px;
  position: relative;
}
</style>