<template>
  <div id="fails-page-container">
    <transition-group name="animate">
      <div id="fails-page-header" key="resent-fails-button">
        <div class="bigStr">
          <b>Зашквары</b> 
        </div>      
      </div>

      <fail-container v-for="fail in fails" :key="fail[fields.ID]" :fail='fail'
       :id="'fail-container-id-' + fail[fields.ID]"/>
    </transition-group>
  </div>
</template>

<script>
import FailContainer from "@/components/failContainer.vue";
import { failFields } from "@/common/response.temp";
import { fails } from "@/common/examples";

export default {
  name: "failsView",
  components: {
    FailContainer
  },
  data() {
    return {
      fields: failFields,
      fails: fails
    };
  },
  methods: {
  }
};
</script>

<style>
#fails-page-container {
  font-size: 25px;
  position: relative;
}
#fails-page-header {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 8px;
  position: relative;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgb(200, 200, 200);
}
</style>

