<template>
  <div id="home-page-container">
    
    <transition-group name="animate">

      <FailDesign key="fail-design">
      </FailDesign>

      <div id="new-header-container" class="clickable" key="resent-fails-button" @click="scrollToResentFails()">
        <div class="text-container bigStr">
          <b>Свежее</b>
        </div>      
      </div>



      <fail-container v-for="fail in fails" :key="fail[fields.ID]" :fail='fail'
      :id="'fail-container-id-'+fail[fields.ID]"/>
    </transition-group>
  </div>
</template>

<script>
import FailDesign from "@/components/failDesign.vue";
import FailContainer from "@/components/failContainer.vue";
import { failFields } from "@/common/response.temp";
import { fails } from "@/common/examples";

export default {
  name: "homeView",
  components: {
    FailDesign,
    FailContainer
  },
  data() {
    return {
      fields: failFields,
      fails: fails,
    };
  },
  mounted() {
/*     if (this.$route.params.id != undefined) {
      let el = document.getElementById(
        "fail-container-id-" + this.$route.params.id
      );
      if (el) el.scrollIntoView(); // {behavior: "auto"/"smooth"}
    } */
  },
  methods: {
/*     selectFail(id) {
      let p = { id: undefined };
      //if (id != this.$route.params.id) p.id = id;

      this.$router
        .push({
          name: "home",
          params: p
        })
        .catch(() => {});
    }, */
    scrollToResentFails() {
      let el = document.getElementById("new-header-container");
      if (el) el.scrollIntoView({behavior: "smooth"}); // {behavior: "auto"/"smooth"}
    }
  }
  /* watch: {
    "$route.params.id": function(val) {
      if (val) {
        let el = document.getElementById(
          "fail-container-id-" + this.$route.params.id
        );
        if (el) el.scrollIntoView();
      }
    }
  } */
};
</script>

<style>
#home-page-container {
  font-size: 25px;
  position: relative;
}
.fail-design-button {
  margin-top: 300px !important;
  margin-bottom: 400px !important;
}
#new-header-container {
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  text-align: left;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
}

.animate-enter-active {
  transition: all 1s;
}
.animate-leave-active {
  transition: all 1s;
  position: absolute !important;
}
.animate-enter {
  opacity: 0;
  transform: scaleY(0.01);
  /* transform-origin: 0% 0%; */
}
.animate-enter-to {
  /*   transform: scaleY(1);
  transform-origin: 100% 0%; */
}
.animate-leave {
  /*   transform: scaleY(1);
  transform-origin: 100% 0%; */
}
.animate-leave-to {
  opacity: 0;
  transform: scaleY(0.01);
  /* transform-origin:  0% 0%; */
}
.animate-move {
  transition: all 1s;
}
</style>

