<template>
    <div>
      <div id="fails-page-header" key="resent-fails-button">
        <div class="bigStr">
          <b>Мои истории</b> 
        </div>      
      </div>
      <fail-container v-for="fail in fails" :key="fail[fields.ID]" :fail='fail'
      v-if="fail[fields.AUTHORID] == currentUser.id"
      @click="selectFail" :id="'fail-container-id-'+fail[fields.ID]"/>
    </div>
</template>
<script>
import FailContainer from "@/components/failContainer.vue";
import { mapGetters } from "vuex";
import { failFields } from "@/common/response.temp";
import { fails } from "@/common/examples";

export default {
  name: "myFailsView",
  components: {
    FailContainer
  },
  data() {
    return {
      fields: failFields,
      fails: fails
    };
  },
  mounted() {
    if (this.$route.params.id != undefined) {
      let el = document.getElementById(
        "fail-container-id-" + this.$route.params.id
      );
      if (el) el.scrollIntoView(); // {behavior: "auto"/"smooth"}
    }
  },
  computed: {
    ...mapGetters(["currentUser"])
  },
  methods: {
    selectFail(id) {
      let p = {
        name: this.$route.params.name,
        id: undefined
      };
      //if (id != this.$route.params.id) p.id = id;

      this.$router
        .push({
          name: "userfails",
          params: p
        })
        .catch(() => {});
    }
  }
};
</script>
