<template>
  <div id="profile-view-container">
<!--     <div v-if="!isAuthenticated">
      <LoginForm></LoginForm>
    </div>
    <div v-else>
      <ProfileForm></ProfileForm>
    </div> -->
    <router-view></router-view>
  </div>
</template>

<script>
import LoginForm from "@/components/loginForm.vue";
import ProfileForm from "@/components/profileForm.vue";
import RegistrationForm from "@/components/registrationForm.vue";
import { mapGetters } from "vuex";

export default {
  name: "profileView",
  components: {
    LoginForm,
    ProfileForm,
    RegistrationForm
  },
  data() {
    return {
      style: '',
    };
  },
  computed: {
    ...mapGetters(["isAuthenticated","currentUser"])
  },
  methods: {}
};
</script>

<style>
#profile-view-container {
  width: 100%;
  position: relative;
}
</style>
