<template>
  <div id="fail-page-container">
    <!-- <transition-group name="animate"> -->
<!--       <div id="new-header-container" key="resent-fails-button">
        <div class="text-container bigStr">
        </div>      
      </div> -->

      <fail-container key="fail-container" :fail='getFailById()' id="fail-container" :single='true'>
      </fail-container>
    <!-- </transition-group> -->
  </div>
</template>

<script>
import FailContainer from "@/components/failContainer.vue";
import { failFields } from "@/common/response.temp";
import { fails } from "@/common/examples";

export default {
  name: "failsView",
  components: {
    FailContainer
  },
  data() {
    return {
      fields: failFields,
      fails: fails,
      id: ""
    };
  },
  mounted() {
    if (this.$route.params.id == undefined) {
      this.$store.push({ name: "home" });
    } else {
      this.id = this.$route.params.id;
    }
  },
  methods: {
    getFailById() {
      for (let i in this.fails) {
        if (this.fails[i][this.fields.ID] == this.id) return this.fails[i];
      }
    }
  },
  watch: {
      '$route.params.id': function() {
          this.$router.go();
      }
  }
};
</script>

<style>
#fail-page-container {
  font-size: 25px;
  position: relative;
}
</style>