<template>
    <div v-if="comment != undefined" class="comment-container">
        <div class="comment-header">
          <div class="lt subStr flex">
            <div class="lt subsubStr author-container">
                <b>{{comment[fields.AUTHOR]}}</b>
            </div>
          </div>

          <div class="rt flex">
            <div class="button-fail-form clickable subsubStr">
              <div class="el-icon-plus"></div>
              {{comment[fields.LIKES]}}
            </div>
          </div>
        </div>

        <div class="comment-body subsubStr" >
            {{comment[fields.TEXT]}}
        </div>
    </div>
</template>

<script>
import { commentFields } from "@/common/response.temp";

export default {
  name: "comment",
  props: {
    comment: Object
  },
  data() {
    return {
      fields: commentFields
    };
  }
};
</script>

<style>
.comment-container {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  margin-right: 5%;
}
.comment-header {
  display: flex;
  background-color: rgb(252, 252, 255);
}
.comment-body {
  text-align: left;
  padding: 2px 4px 4px 4px;
}
.author-container {
    padding: 4px;
}
.bg-c-blue {
  background-color: rgb(251, 251, 251);
}
</style>
