<template>
  <div id="fail-design-container">
    <div id="fail-form">
      <div class="bigStr underline">
        <b>Поделиться историей</b>
      </div>
      <div class="rules-container mg-top15">
          <b>Правила</b>
          <li class="mg-top5">не деанонить</li>
          <li>без истории только раз в сутки</li>
          <li>...</li>
      </div>

      <div class="form-head mg-top15">
          <div class="lt subStr">
            <b>{{getName()}}</b>
            <el-button v-if="!isAuthenticated" size="mini" class="subsubStr login-button" 
            @click="$router.push({name: 'login'}).catch(()=>{})">Авторизоваться
            </el-button>
          </div>

          <!-- <div class="rt subStr">location</div> -->
      </div>

      <div class="mg-top5 flex lt subsubStr grey">
        Теги пишитесо знаком '#', например: #Тег</div>
      <el-input
      type="textarea"
      :autosize="{ minRows: 1, maxRows: 3}"
      resize="none"
      placeholder="Теги"
      v-model="tags">
      </el-input>

      <div v-if="tagsArray.length != 0" class="mg-top5 flex lt subsubStr grey">
        Введённые теги
      </div>
      <div class="tags-container">
        <div  v-if="tagsArray.length != 0" class="tag-div subsubStr" v-for="(tag,i) in tagsArray" :key="i">
          <b>{{tag}}</b>
        </div>                  
      </div>


      <div class="mg-top5 flex lt subsubStr grey">
        История должна содержать от 100 до 1000 символов.
        Текущее количество:{{textarea.length}}</div>
      <el-input
      type="textarea"
      :autosize="{ minRows: 4, maxRows: 10}"
      resize="none"
      placeholder="Ваша история"
      v-model="textarea">
      </el-input>
      <div v-if="trySendWrongStory" class="rules-container mg-top15">
        {{wrongStoryProps().text}}
      </div>

      <el-button type="primary" class="mg-top10 subsubStr confirm-button" 
      @click="sendFail()">Опубликовать
      </el-button>
    </div>
  </div>
</template>

<script>
import { failFields } from "@/common/response.temp";
import { mapGetters } from "vuex";

export default {
  name: "failDesign",
  props: {
    fail: Object
  },
  data() {
    return {
      textarea: "",
      tags: "",
      tagsArray: "",
      trySendWrongStory: false,
      input: "",
      fields: failFields,
    };
  },
  mounted() {
    this.setDataFromProps();

    this.$nextTick(function() {
      this.input = document.getElementsByClassName("el-textarea__inner")[0];
    });
  },
  computed: {
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  methods: {
    getTags() {
      let pos = 0;
      if (this.tags == undefined) {
        this.tagsArray = [];
        return;
      }
      let tgs = this.tags.match(/(#\w+)/g);
      if (tgs == null) {
        this.tagsArray = [];
        return;
      }

      this.tagsArray = tgs;
    },
    getName() {
      if (this.isAuthenticated) {
        return this.currentUser.name;
      } else return "Anonim";
    },
    wrongStoryProps() {
      if (this.textarea.length < 100)
        return {
          value: true,
          text: "Слишком мало символов!"
        };

      if (this.textarea.length > 1000)
        return {
          value: true,
          text: "Слишком много символов!"
        };
    },
    sendFail() {
      if (this.wrongStoryProps().value) {
        this.trySendWrongStory = true;
      }
    },
    setDataFromProps() {
      if (this.fail != undefined) {
        this.textarea = this.fail[this.fields.TEXT];
        this.tags = this.fail[this.fields.TAGS];
      }
    }
  },
  watch: {
    textarea() {
      this.trySendWrongStory = false;
    },
    trySendWrongStory(val) {
      if (val) this.input.style.boxShadow = "0 0 10px 1px #ff0000a6";
      else this.input.style.boxShadow = "";
    },
    tags() {
      this.getTags();
    },
    fail(val) {
      this.setDataFromProps();
    }
  }
};
</script>

<style>
#fail-design-container {
  width: 100%;
  position: relative;
}
#fail-form {
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 10px;
}
.rules-container {
  text-align: left;
  font-size: 14px;
  padding: 14px;
  border: 1px solid rgb(190, 76, 76);
  border-radius: 10px;
  background-color: rgb(255, 245, 245);
}
.text-container {
  text-align: justify;
  font-size: 14px;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
}
.form-head {
  display: flex;
}
.login-button {
  margin-left: 4px !important;
}
.wrongSory {
  box-shadow: 0 0 12px 2px #ff00008a;
}
.tag-div {
  border: 1px solid rgba(147, 138, 247, 0.85);
  border-radius: 4px;
  padding: 1px 2px;
  margin: 1px 2px 0px 0px;
}
</style>




