<template>
    <div v-if="fail != undefined" class="fail-container" 
    :class="{selected: isSelected()}"  
    @click="failClicked()">
        <div class="flex mg-top15">
            <div class="lt subStr"><b>{{fail[fields.AUTHOR]}}</b></div>
            <div class="rt subStr flex">
                {{fail[fields.TIMER]}} 

                <div  class="report-container subsubStr">                
                  <div class="report-button-container clickable subsubStr" 
                  @click="showReports = !showReports">
                    Пожаловаться
                  </div>
                  <div v-if="showReports" class="report-list-container">
                    <div class="report-substring clickable" 
                    :class="{underline: (i+1 != reports.length) }"
                      v-for="(report, i) in reports" :key="i">
                      {{report.text}}
                    </div>
                  </div>
                </div>

                <div v-if="isCurrentUser()" 
                class="el-icon-edit button-edit clickable" 
                @click="goToEdit()">
                </div>
            </div>
        </div>
        
        <div class="tags-container">
          <div  v-if="fail[fields.TAGS] != ''" 
          class="tag-div subsubStr" 
          v-for="(tag,i) in getTags(fail[fields.TAGS])" :key="i">
            <b>{{tag}}</b>
          </div>                  
        </div>

        <div class="text-container subsubStr mg-top5">{{fail[fields.TEXT]}}</div>

        <div class="mg-top5 flex">
          <div class="lt subStr flex">
            <div class="button-fail-form clickable" @click="openChat()">
              <div class="el-icon-chat-round"></div>
            </div>
          </div>

          <div class="rt subStr flex">
            <div class="button-fail-form clickable" @click="copyLink()">
              <div class="el-icon-share"></div>
            </div>
            <div class="button-fail-form clickable" @click="addLike()">
              <div class="el-icon-plus"></div>
              {{fail[fields.LIKES]}}
            </div>
          </div>
        </div>

        <div v-if="isChatOpen" class="flex">
          <div class="button-fail-form clickable buttonToTop" @click="toTop()">
            <div class="center">
              <div class="el-icon-arrow-up"></div>
            </div>
          </div>

          <div class="comments-container">
            <comment-container  
            v-for="comment in comments" :key="comment[comFields.ID]"
            :comment = "comment">
            </comment-container>  
          </div>

        </div>

    </div>
</template>

<script>
import CommentContainer from "@/components/commentContainer";
import { failFields, commentFields } from "@/common/response.temp";
import { comments } from "@/common/examples";
import { mapGetters } from "vuex";

export default {
  name: "failContainer",
  props: {
    fail: Object,
    single: {
      type: Boolean,
      default: false
    }
  },
  components: {
    CommentContainer
  },
  data() {
    return {
      fields: failFields,
      comFields: commentFields,
      isChatOpen: false,
      comments: comments,
      showReports: false,
      reports: [
        {
          text: "раскрытие персональных данных"
        },
        {
          text: "экстремизм"
        },
        {
          text: "не информативно"
        }
      ]
    };
  },
  mounted() {},
  computed: {
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  methods: {
    goToEdit() {
      this.$router
        .push({
          name: "edit",
          params: { id: this.fail[this.fields.ID] }
        })
        .catch(() => {});
    },
    isCurrentUser() {
      if (this.isAuthenticated) {
        return this.fail[this.fields.AUTHORID] == this.currentUser.id;
      }
    },
    getTags(tagsStr) {
      return tagsStr.split(",");
    },
    toTop() {
      let el = document.getElementById(
        "fail-container-id-" + this.fail[this.fields.ID]
      );
      if (el) el.scrollIntoView({ behavior: "smooth" });
    },
    openChat() {
      this.isChatOpen = !this.isChatOpen;
    },
    addLike() {},
    isSelected() {
      if (this.single) return false;

      if (this.$route.params.id == undefined) return false;

      if (this.fail[this.fields.ID] == this.$route.params.id) return true;

      return false;
    },
    failClicked() {
      this.$emit("click", this.fail[this.fields.ID]);
    },
    copyLink() {
      var textArea = document.createElement("textarea");

      textArea.style.position = "fixed";
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.width = "2em";
      textArea.style.height = "2em";
      textArea.style.padding = 0;
      textArea.style.border = "none";
      textArea.style.outline = "none";
      textArea.style.boxShadow = "none";
      textArea.style.background = "transparent";
      textArea.value =
        window.location.host + "/#/fail/" + this.fail[this.fields.ID];

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      try {
        var successful = document.execCommand("copy");
      } catch (err) {}

      document.body.removeChild(textArea);
    }
  }
};
</script>

<style>
.fail-container {
  padding: 0px 8px 5px 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(220, 220, 220);
  transition: all 0.3s;
}
.selected {
  box-shadow: 0px 0px 12px 1px #00000071;
}
.button-fail-form {
  padding: 4px;
  border-radius: 4px;
  transition: all 0.4s;
}

.comments-container {
  position: relative;
  width: 100%;
}
.buttonToTop {
  width: 5%;
  position: relative;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.report-button-container {
  cursor: pointer;
  margin-left: 4px;
  padding: 1px 2px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
}
.report-container {
  position: relative;
  text-align: left;
}
.report-list-container {
  position: absolute;
  right: 0;
  width: max-content;
  padding: 2px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  box-shadow: 0 0 3px 0px #00000069;
  background-color: white;
}
.report-substring {
  padding: 1px;
}

.button-edit {
  padding: 0 0 0 2px;
}
</style>


