<template>
    <div id="header-container">
        <div id="header-middle-div">
            <div class="subsubStr mg-top5">
                Всего историй: 3865
            </div>
            <div class="subStr mg-top10">
                Сегодня историй: 521
            </div>            
        </div>

<!--         <div id="icon-container" class="subStr">
          <img id="logo-img" src="@/assets/favicon1.png">
        </div> -->

        <div id="header-buttons-container" class="subStr">
            <div v-if="!isAuthenticated" id="header-login-button" class="clickable"
            @click="toLogin()">
                Войти
            </div>
            <div v-if="!isAuthenticated" id="header-registration-button" class="clickable"
            @click="toRegistration()">
                Регистрация
            </div>
            <div v-if="isAuthenticated" class="flex">
                <div id="header-auth-container" class="clickable" @click="toProfile()">
                    <b>{{currentUser.name}}</b>
                    <div class="el-icon-user"></div>
                </div>
                
                <div id="header-logout-button" class="clickable"
                @click="logout()">
                     Выйти
                </div>
            </div>


        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  methods: {
    toLogin() {
      this.$router.push("login");
    },
    toRegistration() {
      this.$router.push("registration");
    },
    logout() {
      this.$store.commit("setAuth", false);
      this.$router.go();
    },
    toProfile() {
      this.$router.push({
        name: "profileView",
        params: { username: this.currentUser.name }
      });
    }
  }
};
</script>

<style>
#header-container {
  position: relative;
  padding: 2px 10px;
  height: 55px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
#header-middle-div {
  margin: auto;
  position: relative;
  width: fit-content;
}
#header-buttons-container {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
#header-registration-button {
  padding: 2px;
  margin-left: 5px;
  border-radius: 4px;
}
#header-login-button {
  padding: 2px;
  margin-left: 5px;
  border-radius: 4px;
}
#header-logout-button {
  padding: 2px;
  margin-left: 2px;
  border-radius: 4px;
}
#header-auth-container {
  padding: 2px;
  border-radius: 4px;
  display: flex;
}
#icon-container {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#logo-img {
  height: 50px;
  width: 50px;
}
</style>
