<template>
    <div id="login-container">
        <div class="flex">
          <div class="lt flex mg-top10 subStr">
            <b>Логин/e-mail</b> 
          </div>
          <div class="rt subStr">
            <router-link to="/registration">Регистрация</router-link>
          </div>
        </div>
        
        <div class="mg-top5">
            <el-input placeholder="Имя/e-mail" v-model="nickname"></el-input>
        </div>
        
        <div class="lt flex mg-top10 subStr"><b>Пароль</b></div>
        <div class="mg-top5">
            <el-input placeholder="Пароль" v-model="password" show-password></el-input>
        </div>

        <el-button type="primary" class="mg-top10 subsubStr confirm-button" 
            @click="login()">Авторизоваться
        </el-button>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      nickname: "",
      password: ""
    };
  },
  mounted() {
    if (this.isAuthenticated) {
      this.$router.push({
        name: "profile",
        props: { name: this.currentUser.name }
      });
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  methods: {
    login() {
      this.$store.commit("setAuth", true);
      this.$router.push("home");
      //this.$nextTick(this.handleResize);
    },
    handleResize() {
      let header = document.getElementById("header-container");
      let el = document.getElementById("login-container");
      let h;

      if (el) h = el.clientHeight;
      else return;

      el.style.marginTop =
        (window.innerHeight - header.clientHeight * 3 - h) / 2 + "px";
    }
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.$nextTick(function() {
      this.handleResize();
    });
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  }
};
</script>

<style>
#login-container {
  position: relative;
  padding: 4px 15px 15px 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}
</style>