<template>
    <div id="profile-container">
        <div class="bigStr"><b>Профиль</b></div>

        <div class="flex mg-top15">
            <div class="lt"><b>Логин:</b></div>
            <div class="rt">{{currentUser.name}}</div>
        </div>

        <div class="flex mg-top15">
            <div class="lt"><b>Email:</b></div>
            <div class="rt">{{currentUser.email}}</div>
        </div>

        <div class="mg-top15 lt flex upperline">
            <b>Сменить пароль:</b>
        </div>

        <div class="mg-top15">
            <el-input placeholder="Введите новый пароль" v-model="password" 
            show-password>
            </el-input>
        </div>

        <div class="mg-top5">
            <el-input placeholder="Подтвердите пароль" v-model="submitPassword" 
            show-password>
            </el-input>
        </div>

        <div class="flex mg-top15 underline">
            <el-button type="primary" class="rt subsubStr confirm-button" 
            :disabled="notIdentity" 
            @click="setNewPassword()">Изменить пароль
            </el-button>
        </div>

        <el-button type="primary" class="mg-top10 subStr confirm-button" 
        @click="logout()">Выйти
        </el-button>
    </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      nickname: "",
      password: "",
      submitPassword: ""
    };
  },
  computed: {
    notIdentity() {
      return (
        this.password !== this.submitPassword || this.submitPassword === ""
      );
    },
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  methods: {
    setNewPassword() {},
    logout() {
      this.$store.commit("setAuth", false);
      //this.$nextTick(this.handleResize);
      this.$router.push({name: 'login'});
    },
    handleResize() {
      if (this.isAuthenticated) {
        let el = document.getElementById("profile-container");
        if (el) el.style.marginTop = "15px";
      }
    }
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.$nextTick(function() {
      this.handleResize();
    });
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  }
};
</script>
<style>
</style>
