<template>
    <div id="registration-container">
        <div class="flex">
            <div class="lt flex mg-top10 subStr">
                <b>Логин</b> 
            </div>
            <div class="rt subStr">
                <router-link to="/login">Войти</router-link>
            </div>
        </div>
       
        <div class="mg-top5">
            <el-input placeholder="Имя/e-mail" v-model="nickname"></el-input>
        </div>

        <div class="flex">
            <div class="lt flex mg-top10 subStr">
                <b>Email</b> 
            </div>
        </div>
       
        <div class="mg-top5">
            <el-input placeholder="email" v-model="email"></el-input>
        </div>
        
        <div class="lt flex mg-top10 subStr"><b>Пароль</b></div>
        <div class="mg-top5">
            <el-input placeholder="Пароль" v-model="password" show-password></el-input>
        </div>
        <div class="lt flex mg-top10 subStr"><b>Подтвердите пароль</b></div>
        <div class="mg-top5">
            <el-input placeholder="Подтвердите пароль" v-model="submitPassword" show-password></el-input>
        </div>
        <div v-if="isRegistrationError" class="rules-container mg-top15">
            {{getRegistrationError().text}}
        </div>

        <el-button type="primary" class="mg-top10 subsubStr confirm-button"  
            @click="registration()">Зарегистрироваться
        </el-button>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      nickname: "",
      email: "",
      password: "",
      submitPassword: "",
      isRegistrationError: false,
      error: ""
    };
  },
  mounted() {
    if (this.isAuthenticated) {
      this.$router.push({
        name: "profile",
        props: { name: this.currentUser.name }
      });
    }
  },
  computed: {
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  methods: {
    registration() {
      let err = this.getRegistrationError();
      if (err.value) {
        this.isRegistrationError = true;
        this.error = err;
        return;
      }
      this.$store.commit("setAuth", true);
      this.$router.push("home");
      //this.$nextTick(this.handleResize);
    },
    handleResize() {
      let header = document.getElementById("header-container");
      let el = document.getElementById("registration-container");
      let h;

      if (el) h = el.clientHeight;
      else return;

      el.style.marginTop =
        (window.innerHeight - header.clientHeight * 3 - h) / 2 + "px";
    },
    getRegistrationError() {
      if (this.submitPassword === "")
        return {
          value: true,
          type: "submitPassword",
          text: "Подтвердите пароль!"
        };
      if (this.password !== this.submitPassword)
        return {
          value: true,
          type: "password",
          text: "Пароли не совпадают!"
        };

      return {
        value: false
      };
    }
  },
  watch: {
    nickname() {
      if (this.isRegistrationError) {
        if (this.error.type == "nickname") {
          this.isRegistrationError = false;
        }
      }
    },
    password() {
      if (this.isRegistrationError) {
        if (this.error.type == "password") {
          this.isRegistrationError = false;
        }
      }
    },
    submitPassword() {
      if (this.isRegistrationError) {
        if (this.error.type == "submitPassword") {
          this.isRegistrationError = false;
        }
      }
    }
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.$nextTick(function() {
      this.handleResize();
    });
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  }
};
</script>

<style>
#registration-container {
  position: relative;
  padding: 4px 15px 15px 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}
</style>