<template>
  <div id="app">
    <Header></Header>

    <div id="page-container">
      <div id="menu-container">
        <el-menu :default-active='getDefaultPath()' class="el-menu-vertical-demo" 
        :collapse="isCollapse" @select="handleSelect">
          <el-menu-item index="home">
            <i class="el-icon-s-home"></i>
            <span slot="title">Главная</span>
          </el-menu-item>
          <el-menu-item index="fails">
            <i class="el-icon-collection"></i>
            <span slot="title">Хранилище</span>
          </el-menu-item>
<!--           <el-menu-item index="map">
            <i class="el-icon-location" ></i>
            <span slot="title">Карта</span>
          </el-menu-item> -->
          <el-menu-item v-if="isAuthenticated" index="userfails">
            <i class="el-icon-document" ></i>
            <span slot="title">Мои истории</span>
          </el-menu-item>
          <el-menu-item :index="getProfileIndex()" style="{}">
            <i class="el-icon-user"></i>
            <span slot="title">{{getProfileTitle()}}</span>
          </el-menu-item>
        </el-menu>
      </div>

      <div id="view-container" :class="{emptyViewStyle: isProfile()}">
        <router-view></router-view>
      </div>
      

    </div>
  </div>
</template>

<script>
import Header from "./components/header";
import { mapGetters } from "vuex";

export default {
  name: "app",
  components: {
    Header
  },
  data() {
    return {
      isCollapse: false,
      window: {
        width: 0,
        height: 0
      }
    };
  },
  computed: {
    getMenuTopPosition() {
      let h = document.getElementById("menu-container").clientHeight;

      return { top: (this.window - h) / 2 };
    },
    ...mapGetters(["isAuthenticated", "currentUser"])
  },
  methods: {
    getProfileTitle() {
      if (this.isAuthenticated) return this.currentUser.name;
      else return "Войти";
    },
    getDefaultPath() {
      return this.$route.name;
    },
    getProfileIndex() {
      if (this.isAuthenticated) {
        return "profileView";
      } else {
        return "login";
      }
    },
    isProfile() {
      return (this.$route.name == 'login' || this.$route.name == 'registration');
    },
    handleSelect(key, keyPath) {
      if (this.$route.name == key) return;

      let p;
      if (key == "userfails") {
        p = { username: this.currentUser.name };
      }

      this.$router.push({ name: key, params: p }).catch(() => {
        return;
      });
    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;

      if (this.window.width < 850) {
        if (!this.isCollapse) this.isCollapse = true;
      } else {
        if (this.isCollapse) this.isCollapse = false;
      }

      let header = document.getElementById("header-container");
      var el = document.getElementById("menu-container");
      var height = el.offsetHeight;
      var newHeight = (this.window.height - header.clientHeight - height) / 2;
      el.style.top = newHeight + "px";
    }
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.$nextTick(function() {
      this.handleResize();
    });

    /* this.setActiveIndex(); */
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  }
};
</script>


<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #003d79;
}
#page-container {
  margin: 5px;
  display: flex;
  position: relative;
}
#menu-container {
  text-align: left;
  position: fixed;
  width: 150px;
}

@media screen and (min-width: 1100px) {
  #view-container {
    position: relative;
    margin: 5px auto;
    width: 700px;

    padding: 0 20px 20px 20px;
    background-color: rgba(212, 233, 255, 0.11);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 126, 255, 0.69);
  }

  .subStr {
    font-size: 18px !important;
  }
  .subsubStr {
    font-size: 14px !important;
  }
  .bigStr {
    font-size: 25px !important;
  }
}

@media screen and (max-width: 1100px) {
  #view-container {
    position: relative;
    margin: 5px auto;
    width: 440px;

    padding: 0 20px 20px 20px;
    background-color: rgba(212, 233, 255, 0.11);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 126, 255, 0.69);
  }

  .subStr {
    font-size: 18px !important;
  }
  .subsubStr {
    font-size: 14px !important;
  }
  .bigStr {
    font-size: 25px !important;
  }
}

@media screen and (max-width: 640px) {
  body {
    display: block;
    margin: 2px;
  }
  #header-middle-div {
    margin-left: 5px;
  }
  #logo-img {
    display: none;
  }
  #view-container {
    position: relative;
    margin: 1px 7px 1px 46px;
    width: 100%;

    padding: 0 8px 8px 8px;
    background-color: rgba(212, 233, 255, 0.11);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 126, 255, 0.69);
  }
  #page-container {
    margin: 1px;
    display: flex;
    position: relative;
  }
  .rules-container {
    font-size: 12px !important;
    padding: 8px !important;
  }

  .el-menu--collapse {
    width: 35px !important;
  }
  .el-tooltip {
    padding: 0px 5px !important;
  }
  .el-menu-item {
    padding: 0px !important;
  }

  .subStr {
    font-size: 14px !important;
  }
  .subsubStr {
    font-size: 12px !important;
  }
  .bigStr {
    font-size: 14px !important;
  }
}
.emptyViewStyle {
    padding: 0 !important;
    background-color: white !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 !important;
}

.confirm-button {
  padding: 5px 40px !important;
}

.grey {
  color: rgb(190, 190, 190);
}

.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(220, 220, 220);
}
.upperline {
  padding-top: 5px;
  border-top: 1px solid rgb(220, 220, 220);
}
.clickable {
  transition: background-color .3s;
  cursor: pointer;
}
.clickable:hover {
  background-color: rgb(213, 232, 253);
}

.mg-top15 {
  margin-top: 15px !important;
}
.mg-top10 {
  margin-top: 10px !important;
}
.mg-top5 {
  margin-top: 5px !important;
}

.lt {
  margin-right: auto !important;
}
.rt {
  margin-left: auto !important;
}

.w-max {
  width: 100%;
}
.flex {
  display: flex;
}
</style>
